<div align="center">
	<h5 style="font-weight: 800; margin-top: 50px; font-family: 'Pacifico', cursive; font-size:3em">{{channelName}}</h5>
</div>

<div class="container login-container">
	<table style="width:50%; height:50%;" id="images">
		<tr>
			<th><img id="img1" src="https://visle.ml/blank.png"></th>
			<th><img id="img2" src="https://visle.ml/blank.png"></th>
			<th><img id="img3" src="https://visle.ml/blank.png"></th>
		</tr>
		<tr>
			<th><img id="img4" src="https://visle.ml/blank.png"></th>
			<th><img id="img5" src="https://visle.ml/blank.png"></th>
			<th><img id="img6" src="https://visle.ml/blank.png"></th>
		</tr>
		<tr>
			<th colspan="3" id="query"></th>
		</tr>
	</table>
</div>

<div id="participant-body">
	<div id="participant-container">
		<div id="participant-wrapper">
			<a href="#">
				<img id="participant-image" src="{{image}}" alt="src/public/favicon.png">
			</a>
			<div id="participant-title">{{name}}</div>


		</div>
		<br>
		<a href="/channel/leave?channelID={{sessionID}}&participantID={{participantID}}"><button id="leave-button">Leave
				Session</button></a>
		<div>Current Session ID</div>
		<div style="font-weight: 800;">{{sessionID}}</div>

		<div>Instructor Name</div>
		<div style="font-weight: 800;">{{instructorName}}</div>
		<hr style="margin-left: 30px; margin-right: 30px; background-color:#000000; height: 1px; border: none;">
		<h6 id="participants-count" style="margin-bottom: 10px; font-weight:400;">Participants</h6>
		<hr style="margin-left: 30px; margin-right: 30px; background-color:#000000; height: 1px; border: none;">
		<div id="participants" style="overflow: scroll; max-height: 300px;">
		</div>
	</div>